@import "tailwindcss";




@theme {
	--color-white: #ffffff;
  --color-black: #000000;
	--color-gray: #E6E6E6;
	--color-red: #CB0000;


  --breakpoint-sm: 480px;
   --breakpoint-md: 768px;
   --breakpoint-lg: 1024px;
   --breakpoint-xl: 1280px;
   --breakpoint-2xl: 1536px;

  --font-barlow : "Barlow", sans-serif; 
  --font-barlow-condensed :"BarlowCondensed", sans-serif;
  --font-oswald :"Oswald", sans-serif;
}

@media print {
  header,
  footer,
  nav,
  .no-print {
    display: none !important;
  }

  body {
    background: white !important;
  }
}